#sketch .header span {
	display: inline-block;
    margin:2px;
    width: 80px;
    text-align: center;
	color: #aaa;
	font-size:0.8em;

}
#sketch .header span.arc {
	width: 40px;
}

.TString input.add,
.TString input.del
{
	width:16px;
	padding:1px 3px;
}

.TString input {
    margin:2px;
    width: 80px;
    border: 1px Solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1)
}
.TString div.arc input 
{
	width: 60px;
}

.TString span{
	color: #aaa;
	font-size:0.8em;
	margin-left: 5px;
}

.TString input.arc,
.TString div.arc input.ccw{
	width: 40px;
	text-align:center;
}

#canvas2d{
	height: 200px;
	width: 200px;
}
#canvas3d{
	height: 400px;
	width: 400px;
}



/* ------- Canvas3D------- */
body .dg.ac,
#canvas3d .dg.main{float: right;
	position:absolute;
	right: 0px;
	top: 0px;
}
.dg.main .close-button{
	width: 50px !important;
	overflow: hidden;
	right: 0px;
}

#canvas3d{ position: relative; }
